<form action="/compose" method="POST">
  <div class="mb-3">
    <input
      name="postTitle"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Enter Title"
    />
  </div>
  <div class="mb-3">
    <textarea
      name="postContent"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Enter Content"
    ></textarea>
    <div class="my-2">
      <button class="btn btn-primary" type="submit">Publish</button>
    </div>
  </div>
</form>
